<h1>This is the home page for your website!  Wow!</h1>

<h2>It will have a: </h2>

<h2>MEDIA SPOTLIGHT: that will display the most voted thing!</h2>

<h2>It will have three columns that have</h2>

TOP 10 TOPPINGS || TOP 10 PIZZAS || TOP 10 PIZZARIAS