/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
    /* Custom bootstrap variables must be set or imported *before* bootstrap. */
    @import "bootstrap";
    @import "**/*";

    .app-header {
      text-align: center;
      padding: 50px 20px 20px;
      background-color: #A3BBA3;
      margin-bottom: 15px;
    }

    .app-header__header {
      padding: 20px;
      color: #383447;
    }

    .navbar {
      margin: 0;
    }

    .navbar-text {
      padding: 10px;
    }

    .app-header__user-nav-container {
      text-align: right;
    }

    .navbar-expand-lg a {
      color: #383447;
    }

    

    